

<%- include ("../partials/header.ejs") %>
<%- include ("../partials/navbar.ejs") %>
<body>
        <div class="jumbotron justify-content-center" >
            <div class="ml-1 mb-3" style="border-radius: 5px;height: 190px; background: #fff; border: 1px solid #DADADA; width: 46%;">
                <h4 class="ml-3 mt-3">Gerar confrontos:</4>
                <form action="/admin/gerarconfrontos" method="post">
                    <select class='form-control form-control-lg mt-2' style="width: 30%;" required name='rodada' id="rodada" placeholder="Modalidade">
                        <option></option>
                        <option>Rodada 1</option>
                        <option>Rodada 2</option>
                    </select>
                    
                    <button class="btn btn-success mt-2 " style="width: 30%; height: 50px;">Sortear</button>
                </form>
                </div>
            </div>
            
            </div>
</body>

<%- include ("../partials/footer.ejs") %>
